@{
    Layout = null;
    var src = TempData["picture"].ToString();

}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>Instagram</title>

    <!-- External CSS Files -->
    <link rel="stylesheet" href="~/Content/styles.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <style>
        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
</head>
<body style="background-color:black">
    
    @*<div class="dropdown" style="float:right ; margin-right:15px">
        <button onclick="myFunction()" class="dropbtn" style="background-color:black; font-size:30px">⋮</button>
        <div id="myDropdown" class="dropdown-content" style="text-align:left">
            <a href="#home">My profile</a>
            <a href="#about">Settings</a>
            <a href="@Url.Action("Signout","Profile")">Signout</a>
        </div>
    </div>*@
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <header>

        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src=@src alt="">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name" style="color:white ; text-decoration:none">@TempData["name"]</h1>

                    <button class="btn profile-edit-btn" style="color:white ; border-color:white" onclick="location.href='/Profile/FollowUnFollow'">@Session["IsFollowed"]</button>

                    @*<button class="btn profile-settings-btn" style="color:white ; font-size:20px" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>*@

                </div>

                <div class="profile-stats">

                    <ul>
                        <li style="color:white"><span class="profile-stat-count">@TempData["post"]</span> posts</li>
                        <li style="color:white"><span class="profile-stat-count">@TempData["follower"]</span> <a style="color:white; text-decoration:none;" data-toggle="modal" data-target="#followerModal">followers</a></li>
                        <li style="color:white"><span class="profile-stat-count">@TempData["following"]</span> <a style="color:white; text-decoration:none;" data-toggle="modal" data-target="#followingModal">followings</a></li>
                    </ul>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="followerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="background-color:black;font-size:initial;color:white">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Followers</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <hr style="background-color: white;" />
                                @for (int i = 0; i < Convert.ToInt32(ViewData["FollowerCount"].ToString()); i++)
                                {
                                    @*<img src="" />*@
                                    <div><a href="/Profile/OthersProfile?username=@ViewData["Follower" + i.ToString()]" style="color:white; text-decoration:none;">@ViewData["Follower" + i.ToString()]</a></div><hr style="background-color: white;" />
                                }
                                <hr style="background-color: white;" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="background-color:black;font-size:initial;color:white">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Followings</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <hr style="background-color: white;" />
                                @for (int i = 0; i < Convert.ToInt32(ViewData["FollowingCount"].ToString()); i++)
                                {
                                    @*<img src="" />*@
                                    <div><a href="/Profile/OthersProfile?username=@ViewData["Following" + i.ToString()]" style="color:white; text-decoration:none;">@ViewData["Following" + i.ToString()]</a></div><hr style="background-color: white;" />
                                }
                                <hr style="background-color: white;" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-bio">

                    <p style="color:white"><span class="profile-real-name">@TempData["userprofile"]</span>: Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️@*@TempData["bio"]*@</p>

                </div>

            </div>
            <!-- End of profile section -->

        </div>
        <!-- end of container -->

    </header>

    <main>

        <div class="container">

            <div class="gallery">
                @for (int i = 0; i < Convert.ToInt32(TempData["post"]); i++)
                {
                    <div class="gallery-item" tabindex="0">

                        <img src=@ViewData["post"+i.ToString()] class="gallery-image" alt="">

                        <div class="gallery-item-info">

                            <ul>
                                <li style="color:white" class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>@ViewData["likes" + i.ToString()]</li>
                                <li style="color:white" class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>@ViewData["comments" + i.ToString()]</li>
                            </ul>

                        </div>

                    </div>
                }

            </div>
            <!-- End of gallery -->
            @*<div class="loader"></div>*@

        </div>
        <!-- End of container -->

    </main>

</body>
</html>
